@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Inter:wght@400;700;800&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Inter', sans-serif;
}

.btn {
    font-weight: 700;
}

header {
    padding: 120px 0px;
    background-image: url('https://picsum.photos/id/625/1800/900');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    transition: all .2s ease;
}

header:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000000, #0000005e);
    opacity: .5;
    transition: all .2s ease;
}

header:hover:after {
    opacity: .6;
}

header .container {
    position: relative;
    z-index: 2;
    color: #fff;
}

header h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 52px;
    margin-bottom: 15px;
    text-shadow: 4px 4px 4px #00000080;
}

header p {
    font-size: 24px;
    text-shadow: 4px 4px 4px #00000080;
}

header a {
    color: #fff;
}

.card-header {
    font-weight: 700;
    font-size: 24px;
}

.card-footer,
.card-header {
    background: linear-gradient(45deg, #e3e5e8, #f8f9fa);
}

.todo-color-box {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.todo-color-box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid #000;
    opacity: .2;
}

.todo-color-box:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(45deg, #ffffff2a, #ffffff00);
}

.list-group-item h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Caveat', cursive;
}

.created-at {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

.card {
    box-shadow: 0px 3px 4px #00000031, 0px 2px 2px -1px #00000031;
}

#todoList .list-group-item,
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-label {
    font-size: 24px;
    font-family: 'Caveat', cursive;
}

#todoList .list-group-item h5 {
    color: #333;
    margin-bottom: 0px;
}

.list-group-left {
    display: flex;
}

.delete-btn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    position: relative;
}

.delete-btn:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #ff3246;
    border-radius: 50%;
    transition: all .2s ease;
    transform: scale(0);
}

.delete-btn:hover:after {
    transform: scale(1);
}

.delete-btn:hover {
    color: #fff;
}

.delete-btn i {
    position: relative;
    z-index: 2;
}

footer p {
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #333;
}